@import url('main99.css');
  
.line               {
 text-align         :  left;
 font-size          :  1.5em;
 line-style         :  none;
 color              :  black;
}

.line:hover         { 
  
 color              :  red;
 
}


@media (max-width:   450px)  
                    {
 li                 {
  font-size         :  1em;
 }
}